*{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.parrafoAuxiliar{
    color: #a52a2a;
    font-weight: bold;
}
.boton{
    background-color: #c4f0f0;
    border: 2px solid #000000;
    height: 10px;
    width: 40px;
}
.parrafoRespuesta{
    color: #0000ff;
    font-size: 20px;
    border: 2px solid #000000;
    height: 60px;
    width: 20%;
}

